{% extends "base.html" %}
{% block title %}CC - A2 - Task 1 - Query Music{% endblock %}

{% block nav %}

    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">CC - A2 - Task 1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">Privacy</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link text-white" href="/">{{ session.user_name }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="d-flex w-75 flex-column mx-auto mb-auto mt-3 mb-3 align-content-center justify-content-center border rounded">
        <form class="p-2" action="" method="post">
            {{ form.csrf_token }}
            <div class="d-flex flex-row justify-content-between">
                <div class="m-3">
                    <div>{{ form.title.label(class_='form-label text-secondary') }}</div>
                    <div>{{ form.title(class_='form-control') }}</div>
                </div>
                <div class="m-3">
                    <div>{{ form.year.label(class_='form-label text-secondary') }}</div>
                    <div>{{ form.year(class_='form-control') }}</div>
                </div>
                <div class="m-3">
                    <div>{{ form.artist.label(class_='form-label text-secondary') }} </div>
                    <div>{{ form.artist(class_='form-control') }}</div>
                </div>
                <div class="m-3 align-self-end">
                    {{ form.submit(class_='btn btn-primary') }}
                </div>
            </div>
            <div class="m-3">
                <span class="text-danger">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </span>
            </div>
        </form>


        <div class="row row-cols-1 row-cols-md-3 g-4 px-xl-4 mb-3">

            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}